.content {
    height: 3760px;

    /* justify-content: center; */
    background: linear-gradient(360deg, rgba(20, 28, 36, 0) 95.65%, #141C24 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__section1 {
    /* height: 517px; */
    width: 80vw;
    display: flex;
    justify-content: center;

}

.content__section1-left {
    padding: 67px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.content__section1-right {

    width: 50%;
}

.content__section-left-img {
    height: 387px;
}

.content__text-step1 {
    padding-top: 15px;
    display: flex;
    align-items: center;




}

.content__step1-linia {
    width: 100px;
    margin-left: 70px;


}

.content__text1 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    color: #00C5FF;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.content__text2 {
    display: flex;
    padding-left: 70px;
    padding-top: 30px;
    color: aliceblue;
    font-size: 3rem;
    padding-bottom: 30px;
}

.content__text3 {
    padding-left: 70px;
    color: rgb(161, 170, 178);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-top: 15px;
    line-height: 150%;
}

.content__linia2 {
    height: 1px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content__text4 {
    color: #00C5FF;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    /* border-bottom: solid 1px  aqua; */
    margin-left: 70px;
    padding-top: 100px;
}

.content__linia3 {
    height: 1px;
    background-color: #00C5FF;
    margin-left: 70px;
    width: 90px;
    margin-top: 10px;
}

.content__section2 {
    padding-top: 100px;
}

.content__section3 {
    width: 850px;
    height: 110px;

    padding-top: 100px;

    align-items: center;
}

.content__section3-step1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content__section3-step2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__section3-icon {}

.content__section3-linia {
    background-color: #00C5FF;
    height: 1px;
    width: 73px;
}

.content__text5 {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 1.2rem;
}

.content__section4 {
    padding-top: 200px;
}

.content__card-black {
    width: 400px;
    height: 545px;
    background-color:#1F2631;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}

.content__card-black-text1 {
    padding-left: 47px;
    padding-top: 100px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;

}

.content__card-black-text2 {
    padding-left: 47px;
    padding-top: 30px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

.content__card-black-text3 {
    padding-left: 47px;
    padding-top: 30px;
    font-size: 1.2rem;
    padding-right: 47px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    line-height: 150%;
}

.content__card-black-button-wrapper {
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__card-black-button {
    width: 320px;
    height: 70px;
    background-color: #00C5FF;
    color: #141C24;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.content__card-wrapper{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}