.content {
    height: 3760px;

    /* justify-content: center; */
    background: linear-gradient(360deg, rgba(20, 28, 36, 0) 95.65%, #141C24 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__section1 {
    /* height: 517px; */
    width: 80vw;
    display: flex;
    justify-content: center;

}

.content__section1-left {
    padding: 67px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.content__section1-right {

    width: 50%;
}

.content__section-left-img {
    height: 387px;
}

.content__text-step1 {
    padding-top: 15px;
    display: flex;
    align-items: center;




}

.content__step1-linia {
    width: 100px;
    margin-left: 70px;


}

.content__text1 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    color: #00C5FF;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.content__text2 {
    display: flex;
    padding-left: 70px;
    padding-top: 30px;
    color: aliceblue;
    font-size: 3rem;
    padding-bottom:30px;
}

.content__text3 {
    padding-left: 70px;
    color: rgb(161, 170, 178);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-top: 15px;
    line-height: 150%;
}
.content__linia2{
    height: 1px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content__text4{
    color: #00C5FF;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    /* border-bottom: solid 1px  aqua; */
margin-left: 70px;
padding-top:100px;
}
.content__linia3{
    height: 1px;
    background-color: #00C5FF;
    margin-left: 70px;
    width: 90px;
    margin-top: 10px;
}
.content__section2{
    padding-top: 100px;
}