.picture {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #141C24 90%, rgba(20, 28, 36, 0) 95.65%);
    width: 100%;

}

.picture__frame {

    box-shadow: 0 0 0 rgba(0, 0, 0, 0.27);
    height: 777px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.picture__img {
    /* height: 777px; */
    padding-right: 70px;

}

.picture__text {
    position: absolute;
    top: 47%;
    color: aliceblue;
    font-size: 3rem;
}

.picture__text-little {

    position: absolute;
    top: 44%;
    color: aliceblue;
    font-size: 1rem;
}

.picture__log-white {
    position: absolute;
    top: 40px;
    z-index: 2;
}

.picture__block-upgrate {
    width: 250px;
    height: 60px;
    background-color: aliceblue;
    font-size: 1.8rem;
    font-weight: 700;
    clip-path: polygon(0% 0, 90% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%);

    position: absolute;
    top: 555px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.picture__block-upgrate:hover {
    background-color: #00C5FF;
}

.picture__burger {

    position: absolute;
    bottom: 70px;
    right: 40px;
    color: azure;
    font-size: 3.5rem;
    transform: rotate(90deg);
    z-index: -5;
    display: flex;

}



.burger-menu {
    position: absolute;
    z-index: 10;
    background-color: black;
    right: -500px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    

}

.burger__item {
    color: white;
    font-size: 1.4rem;
    padding: 20px;
    z-index: 11px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-bottom: solid 1px black;
    font-weight: 300;
    opacity: 0.8;
}

.burger__item:hover {
    color: #00C5FF;
    border-bottom: solid 1px #00C5FF;
    ;
}

.active {
    right: 20px;
    transition: 0.5s;
}

@media(max-width:1050px) {
   

   

    .picture__burger {
        z-index: 5;
        cursor: pointer;

    }

    .picture__burger:hover {
        color: #00C5FF;
    }

    .picture {
        height: 777px;
        margin: 0;
    }

    .picture__text {
        padding-left: 7vw;
    }

}