body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont,'AireExterior', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown; */
  width: 100vw;
  height: 100vh;
  background-color:  rgb(37, 79, 93,1);
  font-family: AireExterior;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}