body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont,'AireExterior', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown; */
 
 
  background: linear-gradient(360deg, #141C24 80%, rgba(20, 28, 36, 0) 95.65%);
  font-family: AireExterior;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}